:root {
  --orange: #f49e24;
  --dark-grey: #b7b7b7;
  --grey: #e4e4e4;
  --lightgrey: #f0f0f0;
}
/********** NAVBAR **********/
nav {
  padding: 10px 30px;
  border-bottom: 1px solid #f0f0f0;
}
nav p {
  font-weight: bold;
  margin: 5px 0;
}

/********** PAGES **********/
.container {
  padding: 0 30px;
}
.page-title {
  font-weight: bold;
  color: var(--orange);
}
.choices {
  display: flex;
  width: 100%;
  flex-flow: row nowrap;
  justify-content: space-between;
}

/********** BOX **********/
